body,html{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #1B1C1D;
  scroll-behavior: smooth;
}
.Navbar{
  height: 2.5em;
  background-color: #F5F5F7;
  text-align: right;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  border-radius: 0px 0px 30px 30px
}
.Link {
  color: #25A2B7;
  text-decoration: underline;
  font-size: 1em;
  margin-top: .5em;
}
.Link:hover{
  cursor: pointer;
}
.LightLink {
  color: #FFF;
  text-decoration: underline;
}
.NavImage{
  margin-right: 1%;
  margin-top: 1%;
}
.NavImage > img {
  height: 90%;
}
.Splash{
  height: 70vh;
  background-color: #F5F5F7;
  position: relative;
  border-radius: 0px 0px 30px 30px
}
.Splash > img{
  position: absolute;
  bottom: 0;
  height: 65%;
  margin-left: -10px;
}
.SplashText{
  position: absolute;
  top: 3em;
  text-align: center;
  width: 100%;
}
.Headline{
  font-size: 4em;
  letter-spacing: 2px;
}
.Headline > hr{
  font-size: 0px;
  margin-top: -10px;
  color: black;
}
.Byline{
  font-size: 1.5em;
  text-align: right;
  color: #9C9DA0;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin-right: 5px;
}
.Bio{
  background-color: #1B1C1D;
   border-style: solid;
   border-color: #1B1C1D;
   border-width: 40px 0px 0px 0px;
   margin-top: -40px;
}
.BioText {
  color: #F5F5F7;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: auto;
  font-size: 1.1em;
}
.BioText > span{
  color: #3BA99C;
}
.Quotes{
  position: relative;
  background-color: #3BA99C;
  height: 100%;
}
.QuotesText{
  background-color: #3BA99C;
  width: 90%;
  padding-top: 10px;
  margin: auto;
  font-size: 1.1em;
}
.QuotesText > p{
  font-style: italic;
}
.FirstQuote{
  background-color: #3BA99C;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.SecondQuote{
  position: absolute;
  top: 0;
  left: 5%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.ThirdQuote{
  position: absolute;
  top: 0;
  left: 5%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.Container{
  background-color: #fff;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
  "Project1"
  "Description1"
  "Project2"
  "Description2"
  "Project3"
  "Description3";
  border-width: 40px 0px 0px 0px;
  border-style: solid;
  margin-top: -40px;
}
.Project1{
  grid-area: Project1;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3342a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d24536' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}
.Description1{
  grid-area: Description1;
  width: 95%;
  place-self: center;
  text-align: center;
}
.Description2{
  grid-area: Description2;
  width: 95%;
  place-self: center;
  text-align: center;
}
.Project2{
  grid-area: Project2;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c83a8;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2371a3d0' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.Project3{
  grid-area: Project3;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #559d97;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235fb1ab' fill-opacity='0.54' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.Description3{
  grid-area: Description3;
  width: 95%;
  place-self: center;
  text-align: center;
}
.DescriptionHeader{
  text-align: center;
  font-size: 2em;
  color: #1B1C1D;
}
.DescriptionSubheader{
  margin-bottom: 2%;
  color: #666;
}
.DescriptionLinks{
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.3em;
}
.DescriptionLinks > a {
  color: #25A2B7
}
.ProjectImage{
  max-height: 90%;
  max-width: 90%;
}
.CurrentProjects{
  background-color: #25A2B7;
  color: #F5F5F7;
  padding: 2% 5% 2% 5%;
}
.CurrentProjects > div{
  color: #F5F5F7
}

.Contact{
  background-color: #1B1C1D;
  color: #9C9DA0;
  padding: 2% 5% 2% 5%;
}
.ContactInfo{
  grid-area: text;
  width: 80%;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 1.1em;
}
a{
  color: #25A2B7;
}
.ContactImages{
  width: 40%;
  display: flex;
  margin-left: 50%;
  justify-content: space-between;
}
.ContactImages > a > img{
  margin-top: 1em;
  height: 2em;
}
.ContactForm{
  grid-area: form;
}
.Input{
  width: 85%;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 3%;
  height: 2em;
  font-size: 1em;
}
.Label{
  margin-left: 5%;
}
.Submit{
  background-color: #fff;
  padding: 2px;
  border: solid;
  border-width: 1px;
  width: 20%;
  margin-left: 70%;
  text-align: center;
}




@media only screen and (min-width: 745px)   {
    .Container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "Description1 Project1"
      "Project2 Description2"
      "Description3 Project3";
    }
    .Navbar{
      height: 2.5em;
      background-color: #F5F5F7;
      width: 100%;
      position: fixed;
      display: flex;
      justify-content: flex-end;
    }
    .Link {
      color: #25A2B7;
      text-decoration: underline;
      font-size: 1.5em;
      margin-right: 1.5em;
    }

    .Headline{
      font-size: 6em;
    }
    .Headline > hr {
      width: 50%;
      margin-left: 50%;
    }
    .Byline{
      font-size: 2em;
    }
    .Splash{
      height: 100vh;
      width: 100%;
    }
    .Splash > img{
      height: 90%;
      margin-left: 20px;
    }
    .SplashText{
      position: absolute;
      text-align: right;
    }
    .Link{
      font-size: 1.1em;
      margin-top: 1em;
    }
    .Bio{
      padding: 2% 10% 2% 10%;
      font-size: 1.2em;
      line-height: 1.4em;
    }
    .Quotes{

    }
    .QuotesText{
      width: 50%;
      margin-left: 25%;
      font-size: 1.2em;
    }
    .SecondQuote{
      left: 0;
    }
    .ThirdQuote{
      left: 0;
    }
    .Project1{
      height: 100%;
    }
    .Project2{
      height: 100%;
    }
    .Project3{
      height: 100%;
    }
    .Description1{
    width: 70%;
    font-size: 1.2em;
    margin-top: 10%;
    margin-bottom: 10%;
    }
    .Description2{
    width: 70%;
    font-size: 1.2em;
    margin-top: 10%;
    margin-bottom: 10%;
    }
    .Description3{
    width: 70%;
    font-size: 1.2em;
    margin-top: 10%;
    margin-bottom: 10%;
    }
    .DescriptionLinks{
      margin-top: 1em;
    }
    .CurrentProjects{
      font-size: 1.2em;
    }
    .CurrentProjects > p{
      width: 80%;
      margin-left: 10%;
    }
    .CurrentProjects > img{

    }
    .Contact{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "form text"
    }
    .ContactInfo{
      font-size: 1.2em;
    }
}

@media only screen and (min-width: 970px)  {
  .SplashText{
    position: absolute;
    right: 5em;
    text-align: right;
  }
  .Headline{
    font-size: 8em;
  }
}
@media only screen and (min-width: 1400px)  {

}
