body,html{
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.Navbar{
  height: 3vh;
  background-color: #F5F5F7;
  text-align: right;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}
.Link {
  color: #25A2B7;
  text-decoration: underline;
  font-size: 2.5vh;
}
.Link:hover{
  cursor: pointer;
}
.Splash{
  height: 97vh;
  background-color: #F5F5F7;
}
.SplashText{
  position: absolute;
  top: 3em;
  text-align: center;
  width: 100%;
}
.Headline{
  font-size: 4em;
}
.Byline{
  font-size: 1em;
}
.Headline > hr{
  font-size: 0px;
  margin-top: -10px;
}
.Bio{
  height: 40vh;
  background-color: #1B1C1D;
}
.Quotes{
  height: 30vh;
  background-color: #3BA99C;
  background: linear-gradient(180deg, #3ECFC5 0%, #31AAA2 100%), #3BA99C;
}
.Container{
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
  "Project1"
  "Description1"
  "Project2"
  "Description2"
  "Project3"
  "Description3";
}
.Project1{
  grid-area: Project1;
  height: 50vh;background-color: #A3392F;
}
.Description1{
  grid-area: Description1;
  height: 50vh;
  background-color: #fff;
}
.Description2{
  grid-area: Description2;
  height: 50vh;
  background-color: #fff;
}
.Project2{
  grid-area: Project2;
  height: 50vh;
  background-color: #5C83A8;
}
.Project3{
  grid-area: Project3;
  height: 50vh;
  background-color: #559D97;
}
.Description3{
  grid-area: Description3;
  height: 50vh;
  background-color: #fff;
}
.CurrentProjects{
  height: 50vh;
  background-color: #25A2B7;
}
.Contact{
  height: 30vh;
  background-color: #1B1C1D
}
@media only screen and (min-width: 420px)   {
    .Container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "Description1 Project1"
      "Project2 Description2"
      "Description3 Project3";
    }

    .Navbar{
      height: 4vh;
      background-color: #F5F5F7;
      width: 100%;
      position: fixed;
      display: flex;
      justify-content: space-around;
    }

    .Link {
      color: #25A2B7;
      text-decoration: underline;
      font-size: 1.2em;
    }
    .SplashText{
      position: absolute;
      width: 100%;
      text-align: center;
    }
    .Headline{
      font-size: 5em;
    }
    .Byline{
      font-size: 1em;
    }
}


@media only screen and (min-width: 800px)   {
    .Container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "Description1 Project1"
      "Project2 Description2"
      "Description3 Project3";
    }

    .Navbar{
      height: 4vh;
      background-color: #F5F5F7;
      width: 100%;
      position: fixed;
      display: flex;
      justify-content: flex-end;
    }

    .Link {
      color: #25A2B7;
      text-decoration: underline;
      font-size: 1.5em;
      margin-right: 1.5em;
    }
    .SplashText{
      position: absolute;
      top: 10em;
      right: 5em;
      text-align: right;
    }
    .Headline{
      font-size: 10em;
    }
    .Byline{
      font-size: 2em;
    }
}
